@model IEnumerable<FileUpload.Models.Files>

@{
    ViewData["Title"] = "Gallery";
}

 


<div class="row">
    
 @if (Model != null)
 {
   
    foreach (var item in Model)
    {
        var base64String = $"data:image/png;base64,{Convert.ToBase64String(item.DataFiles, 0, item.DataFiles.Length)}";
        
            
        
           <div class="col-md-4 mb-4">

                <img src="@base64String" class="rounded" alt="@item.Name" width="350" height="220" />

            </div>
        
    }   
 
 }

 else
 {
    <p>No record found!</p>
 }
 
</div>
